@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --black: #000;
    --grey1: #ccc;
    --grey2: #aaa;
    --grey3: #eee;
    --red: #900;

    /* Sizes */
    --max-width: 1376px;
    --padding: 38px;
    --header-height: 222px;
    --sidebar-width: 375px;
  }
}
